DB_HOST=placeholder
DB_PORT=placeholder
DB_SCHEMA=placeholder
DB_USER=placeholder
DB_PASSWORD=placeholder

REDIS_HOST=placeholder
REDIS_PORT=placeholder
REDIS_PASSWORD=placeholder

MINIO_USER=placeholder
MINIO_PASSWORD=placeholder

JWT_SECRET_KEY=placeholder